---
name: Renovate Bot dependency updates auto-merge

permissions:
  pull-requests: write
  contents: write

on:
  pull_request:
    types: ['opened']

jobs:
  renovate-autoapprove:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          # Use the bot account PAT to allow auto-approve and merge the PRs
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}
